# Материал
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.csv
*.tsv
*.jsonl

# Модели
*.pt
*.bin
*.safetensors
checkpoints/

# Учётные сведения
.env
*.key
credentials.json
token.txt

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# Веб
node_modules/
dist/
build/

# Среды разработки
.vscode/
.idea/
.DS_Store
